body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
display: flex;
padding: 10px;
}

.sideBar{
  max-width: 300px;
  width: 30%;
  padding: 10px;
}
.main{
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.item{
  padding: 10px;
}
.item:hover{
  background: rgba(0,0,0,0.1);
}
.item.selected {
  background: rgba(0,0,0,0.12);
}
.authorList{
  padding: 10px 20px;
  
}