  
td, th{
border-left: 1px solid rgba(0, 0, 0, 0.12);
border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
tr{
  border: 1px solid rgba(0, 0, 0, 0.12);
}

table{
border-spacing: 0ch;
border: 1px solid rgba(0, 0, 0, 0.12);
}
  

