.bar{
    background:rgba(0, 128, 0, 0.6);
    border: 1px solid green;
  }
  .bar-space{
    background: white;
    overflow: visible;
    white-space: nowrap;
  }
  .vbarcontainer{
    width: 20px;
    height: 50px;
    font-size: 10px;
  }
  
  .vbarblank{
    width: 100%;
    
  }
  .hbarcontainer{
    width: 100px;
    height: 20px;
    display: flex;
    direction: rtl;
  }
  
  .hbarblank{
    width: 100%;
  }

